%%{lib_dirs,[".."]}.
%%{deps_dir,["deps"]}.
%%{deps,[
%%    {nitro, ".*", {git, "git://github.com/synrc/nitro.git", {tag,"0.9"}}},
%%    {jsone, ".*", {git, "git://github.com/sile/jsone.git", {tag,"v0.3.3"}}},
%%    {cowboy, ".*", {git, "git://github.com/extend/cowboy", {tag,"1.0.1"}}},
%%    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {tag,"0.3"}}}
%%]}.


%%{sub_dirs,["apps"]}.
%%{lib_dirs,["apps","deps"]}.
{lib_dirs,["deps", ".."]}.
{deps_dir,"deps"}.
{deps, [
%%    {mad,    ".*", {git, "git://github.com/synrc/mad",            {branch, "master"} }},
%%    {fs,     ".*", {git, "git://github.com/synrc/fs",             {tag, "1.9"}    }},
%%    {sh,     ".*", {git, "git://github.com/synrc/sh",             {tag, "1.9"}    }},
%   {kjell,  ".*", {git, "git://github.com/karlll/kjell",         {tag, "master"} }},
    {active, ".*", {git, "git://github.com/synrc/active",         {tag, "1.9"}    }},
%%    {rest,   ".*", {git, "git://github.com/synrc/rest",           {tag, "2.9"}    }},
    {n2o,    ".*", {git, "git://github.com/astronin/n2o",          {tag, "fcgi"} }}
%%    {n2o,    ".*", {git, "git://github.com/synrc/n2o",            {branch, "master"} }}

%%    {observer_cli, ".*", {git, "git://github.com/zhongwencool/observer_cli.git",{tag,"1.0.4"}}},

%%     deps/restc/Makefile
%%
%%     DEPS = hackney jsx erlsom mochiweb_util
%%
%%     dep_hackney       = git git@github.com:benoitc/hackney.git     1.3.2
%%     dep_jsx           = git git@github.com:talentdeficit/jsx.git   v2.6.1
%%     dep_erlsom        = git git@github.com:willemdj/erlsom.git     master
%%     dep_mochiweb_util = git git@github.com:kivra/mochiweb_util.git master
%%    {hackney,".*", {git, "git://github.com/benoitc/hackney", {branch, "master"}  }},
%%     {hackney,".*", {git, "git://github.com/benoitc/hackney", {tag, "1.3.2"}  }},
%%    {jsx,    ".*", {git, "git://github.com/talentdeficit/jsx", {branch, "master"}  }},
%%     {jsx,    ".*", {git, "git://github.com/talentdeficit/jsx", {tag, "2.6.1"}  }},
%%    {erlsom, ".*", {git, "git://github.com/willemdj/erlsom", {branch, "master"}  }},
%%    {mochiweb_util,  ".*", {git, "git://github.com/kivra/mochiweb_util", {branch, "master"}  }},
%%    {restc,  ".*", {git, "git://github.com/kivra/restclient", {branch, "master"}  }},
%%%%%%%%%%%%%%%
]}.
%{shell_driver,start_kjell}.
{fetch_speed,fast_master}.
{verbose,1}.
%% {xref_checks, [undefined_function_calls]}.