{lib_dirs,["deps", ".."]}.
{deps_dir,"deps"}.
{deps, [
    {active, ".*", {git, "git://github.com/synrc/active",         {tag, "1.9"}    }},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",            {branch, "master"} }}
]}.
%{shell_driver,start_kjell}.
{fetch_speed,fast_master}.
{verbose,1}.
%% {xref_checks, [undefined_function_calls]}.